</div>
<div class="col-md-4">
    <div class="card my-5">
        <h5 class="card-header">Link</h5>
        <div class="card-body">
          <div class="row">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="/doc/react/use-state">React useState Hook</a>
                </li>
              </ul>
          </div>
        </div>
      </div>
</div>
</div>
</div>

<!-- Footer -->
<footer class="bg-dark footer">
    <div class="container">
      <p class="text-center text-white">Copyright &copy; Manish Dubey 2020</p>
    </div>
</footer>

</body>
</html>